@import 'normalize.css';

:root {
  --slot-color: #fff8dc;
  --background-color: #deb887;

  --tooltip-background-color: #cdaa7d;
}

body {
  user-select: none;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
}
